html, body {
    height: 100%;
    background-color: transparent;
}
body {
    overflow: hidden;
    margin: 0;
    background-color: transparent;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
